@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}

body {
  @apply bg-dark text-white;
}

.container {
  @apply mx-auto px-4;
  max-width: 1300px;
}

.btn {
  @apply px-3 text-sm md:text-base md:px-10 py-2 rounded-md text-white;

  background: linear-gradient(
    60deg,
    rgba(255, 28, 90, 1) 48%,
    rgba(184, 56, 238, 1) 74%
  );
}

.nav-item {
  @apply cursor-pointer hover:text-primary;
}
.nav-item-active {
  @apply text-primary;
}

.overlay {
  @apply w-full h-full absolute bg-black opacity-60 -z-[9px];
}

.homecard {
  background-image: linear-gradient(
    108.18deg,
    rgba(234, 76, 137, 0.2) -2.02%,
    rgba(77, 68, 198, 0.2) 100%
  );
}

.card {
  @apply relative h-1 rounded-lg rounded-tl-none rounded-tr-none;
  background: linear-gradient(
    90deg,
    rgba(180, 58, 98, 1) 0%,
    rgba(154, 49, 193, 1) 23%,
    rgba(29, 153, 253, 1) 48%,
    rgba(235, 69, 252, 1) 100%
  );
}
